.btn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  background-color: hsl(251, 100%, 50%);
  color: white;
}

.header {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 40%;
  position: -webkit-sticky;
  position: sticky;
  cursor: pointer;
  top: 0;
}

.nbar {
  display: inline-block;
  position: relative;
  text-align: center;
  color: blue;
}

.fa-solid{

  background-color: #04aa6d;
  padding: 14px 36px;

  color: white;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;


}

.nav-link.active {
  color: green;
  font-weight: bold; /* Optional: Make the text bold */

}

/* Optional: Change hover color for better user experience */
.nav-link:hover {
  color: #0056b3; /* Adjust the hover color if needed */
}



.navbar-toggler {
  border: none; /* Optional, removes the toggle button border */
}






